<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            <div class="main-content">
            {{>header}}
            <p>This site was created by ur mom. Uses data from Mapbox.com and Darksky.net</p>
            <img class="portrait" src="/img/nuke.jpg">
            </div>
            {{>footer}}

        </body>
    </head>
</html>